API_HTTP_PORT=8080
ASPNETCORE_ENVIRONMENT=Development

SQLSERVER_PORT=1433
SQLSERVER_DATABASE=AarhusSpaceProgramDb
MSSQL_SA_PASSWORD=Change_this_password_123!

MONGODB_PORT=27017
SERILOG_MONGODB_DATABASE=AarhusSpaceProgramLogs
SERILOG_MONGODB_COLLECTION=request_logs
MONGODB_DATABASE=MissionLogsDb
MONGODB_COLLECTION=MissionLogs
