API_HTTP_PORT=8080
ASPNETCORE_ENVIRONMENT=Development

SQLSERVER_PORT=1433
SQLSERVER_DATABASE=AarhusSpaceProgramDb
MSSQL_SA_PASSWORD=Change_this_password_123!

JWT_ISSUER=AarhusSpaceProgram.Api
JWT_AUDIENCE=AarhusSpaceProgram.Api
JWT_ACCESS_TOKEN_MINUTES=60
JWT_KEY=Change_this_to_a_very_long_32_byte_secret!

SEED_ASTRONAUT_USERNAME=astronaut@asp.local
SEED_ASTRONAUT_EMAIL=astronaut@asp.local
SEED_ASTRONAUT_PASSWORD=Change_this_Astronaut_123!
SEED_ASTRONAUT_STAFF_FULL_NAME=Emma Carter
SEED_SCIENTIST_USERNAME=scientist@asp.local
SEED_SCIENTIST_EMAIL=scientist@asp.local
SEED_SCIENTIST_PASSWORD=Change_this_Scientist_123!
SEED_SCIENTIST_STAFF_FULL_NAME=Dr. Sofia Nguyen
SEED_MANAGER_USERNAME=manager@asp.local
SEED_MANAGER_EMAIL=manager@asp.local
SEED_MANAGER_PASSWORD=Change_this_Manager_123!
SEED_MANAGER_STAFF_FULL_NAME=Sarah Mitchell

MISSION_LOG_WORKER_POLL_INTERVAL_SECONDS=15
MISSION_LOG_WORKER_USERNAME=manager@asp.local
MISSION_LOG_WORKER_PASSWORD=Change_this_Manager_123!

MONGODB_PORT=27017
SERILOG_MONGODB_DATABASE=AarhusSpaceProgramLogs
SERILOG_MONGODB_COLLECTION=request_logs
MONGODB_DATABASE=MissionLogsDb
MONGODB_COLLECTION=MissionLogs
